html{
    background-color:#2f374a;
}

body{
    padding:0px;
    border:0px;
    margin:0px;
    overflow:hidden;
}

canvas{
//    background-color:#414974;
    image-rendering:pixelated;
    width:800px;
    height:640px;
    padding:0px;
    border:0px;
    margin:0px;
}

